.profile-container {
    height: 140px;
    width: 140px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.profile-picture {
    width: 100%;
}

.profile-container:hover>.profile-picture{
    filter: brightness(30%);
    cursor: pointer;
}

.profile-text {
    color: white;
    position: absolute;
    visibility: hidden;
    top: 50%;
}

.profile-text:hover {
    cursor: pointer;
}

#image-upload {
    display: none;
}