@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;600&display=swap');

.App {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 700px;
}

h2 {
    padding: 15px 0px 5px 0px;
    margin: 0px;
}

label, .label {
    display: inline-block;
    width: 130px;
    height: 29px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.entry, .form-row>input, .form-row>textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    display: inline-block;
}

input {
    width: 490px;
}

textarea {
    width: 510px;
}

input, textarea {
    background-color: #e7e7e7;
    border: none;
    border-radius: 2px;
}

input:hover, textarea:hover {
    outline: 1px solid rgba(10, 131, 207, 0.582);
    border-radius: 2px;
}

input:focus, textarea:focus {
    outline: 2px solid rgb(58, 171, 241);
}

.container {
    position: relative;
}

.control-buttons {
    visibility: hidden;
    position: absolute;
    top: 15px;
    right: 15px;
}

.container:hover>.control-buttons {
    visibility: visible;
}

.form-row, .entry-row {
    width: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0px;
}

.section {
    border-bottom: 1px solid #555;
    padding-bottom: 15px;
}

.section:last-child {
    border-bottom: none;
}

.container {
    padding: 15px;
}

.control-buttons {
    display: flex;
    justify-content: flex-end;
}

.edit-button, .delete-button, .save-button {
    height: 40px;
    width: 40px;
    border: none;
    text-indent: -9999px;
    margin: 0px 3px;
}

.edit-button:hover , .delete-button:hover, .save-button:hover {
    cursor: pointer;
}

.edit-button {
  background: url('./images/draw.png') no-repeat center;
  background-size: 30px;
}

.save-button {
    background: url('./images/save.png') no-repeat center;
    background-size: 30px;
}


.delete-button {
    background: url('./images/delete.png') no-repeat center;
    background-size: 30px;
}

.add-button {
    margin: 15px 0px;
}

.info-button {
    position: relative;
    left: -15px;
}

.add-button, .info-button {
    background-color: rgb(255, 110, 58);
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    color: white;
}

.add-button:hover, .info-button:hover {
    background-color: rgb(255, 156, 119);
    cursor: pointer;
}

.profile-container:hover>.profile-text {
    visibility: visible;
}
